.cases {
    margin-top: 238px;
    overflow: hidden;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.cases-container {
    position: relative;
    z-index: 10;
    max-width: 1310px;
    margin: 0 auto;
}

.cases-container h2 {
    font-size: 64px;
    font-weight: 700;
    color: #232323;
}

.cases-swiper {
    margin-top: 60px;
}

.cases-slider-item {
    position: relative;
    min-width: 420px;
    max-width: 420px;
    min-height: 615px;
    max-height: 615px;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.cases-slider-item:hover {
    transform: none;
}

.cases-slider-item:hover .cases-image-wrapper img{
    transform: scale(1.05);
}

.cases-slider-item p {
    max-width: 370px;
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    color: rgba(35, 35, 35, 0.50);
    letter-spacing: 1.2px;
    border-radius: 10px;
    border: 1px solid rgba(35, 35, 35, 0.50);
}

.cases-slider-item h3 {
    max-width: 370px;
    position: absolute;
    top: 80px;
    left: 25px;
    color: #232323;
    font-size: 18px;
    font-weight: 600;
}

.cases-slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cases-image-wrapper {
    position: absolute;
    top: 164px;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;
    height: 369px;
    overflow: hidden;
    border-radius: 20px;
}

.cases-slider-item button {
    display: none;
}

.cases-content-front,
.cases-content-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease, transform 0.6s ease;
    border-radius: 20px;
    background-color: #fff;
}

.cases-content-front {
    opacity: 1;
    transform: translateX(0);
}

.cases-content-front.active {
    opacity: 0;
    transform: translateX(-100%);
}

.cases-content-front:hover>img {
    transform: translateX(-50%) scale(1.05);
}

.cases-content-back {
    opacity: 0;
    transform: translateX(100%);
    padding: 25px;
    background-color: #232323;
}

.cases-content-back.active {
    opacity: 1;
    transform: translateX(0);
}

.back-text {
    max-width: 370px;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}


@media (max-width: 1024px) {
    .cases {
        margin-top: 60px;
    }

    .cases-container {
        max-width: 328px;
    }

    .cases-container h2 {
        color: #232323;
        font-family: "Inter Tight";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cases-slider-item {
        min-width: 328px;
        max-width: 328px;
        min-height: 426px;
        max-height: 426px;
        border-radius: 20px;
    }

    .cases-slider-item p {
        left: 25px;
        top: 25px;
        color: rgba(35, 35, 35, 0.50);
        font-family: "Inter Tight";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1px;
    }

    .cases-slider-item h3 {
        left: 25px;
        top: 77px;
        max-width: 278px;
        color: #232323;
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .cases-image-wrapper {
        top: 135px;
        width: 278px;
        height: 266px;
    }

    .cases-slider-item button {
        left: 45px;
        bottom: 25px;
        color: #F9F7F7;
        font-family: "Inter Tight";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

/* Стили для пагинации */
.swiper-pagination {
    position: relative !important;
    margin-top: 0px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: rgba(35, 35, 35, 0.3);
    opacity: 1;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    background: #232323;
}