.cases {
    margin-top: 238px;
    overflow: hidden;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.cases-container {
    position: relative;
    z-index: 10;
    max-width: 1310px;
    margin: 0 auto;
}

.cases-container h2 {
    font-size: 64px;
    font-weight: 700;
    color: #232323;
}

.cases-slider-container {
    width: 100vw;
    margin-left: calc((1310px - 100vw) / 2);
    margin-top: 100px;
}

.cases-slider {
    padding: 20px 0;
}

/* .swiper-wrapper {
    padding-left: calc((100vw - 1310px) / 2 + 30px);
} */

.cases-slider .swiper-slide {
    width: 780px !important;
    margin-right: 80px;
}

.cases-slider-item {
    position: relative;
    min-height: 753px;
    background-color: #ffffff;
    border-radius: 30px;
}

.cases-slider-item h3 {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 32px;
    font-weight: 600;
    color: #232323;
}

.cases-slider-item img {
    position: absolute;
    top: 196px;
    left: 40px;
    width: 700px;
    height: 350px;
    user-select: none;
    -webkit-user-drag: none;
}

.cases-slider-item p {
    position: absolute;
    top: 608px;
    left: 40px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(55, 55, 55, 0.7);
}

.hidden-case {
    opacity: 0;
}