.advantages {
    margin-top: 130px;
}

.advantages-container {
    position: relative;
    max-width: 1310px;
    margin: 0 auto;
    z-index: 999;
}

.advantages-container h2 {
    font-size: 64px;
    font-weight: 700;
    color: #232323;
    margin-bottom: 59px;
}

.advantages-swiper {
    width: 100%;
}

.advantages-slider-item {
    position: relative;
    overflow: hidden;
    min-height: 439px;
    max-height: 439px;
    min-width: 295px;
    max-width: 295px;
    background-color: #ffffff;
    border-radius: 20px;
    user-select: none;
    -webkit-user-drag: none;
    cursor: grab;
}

.advantages-slider-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232323;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 0;
}

.advantages-slider-item p:first-of-type {
    max-width: 255px;
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #232323;
    font-family: 'Onest';
    transition: color 0.5s ease;
    z-index: 999;
}

.advantages-slider-item h3 {
    position: absolute;
    max-width: 255px;
    top: 120px;
    left: 20px;
    font-size: 29px;
    font-weight: 600;
    color: #373737;
    transition: color 0.5s ease;
    z-index: 999;
}

.advantages-slider-item p:last-of-type {
    position: absolute;
    max-width: 255px;
    top: 292px;
    left: 20px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(55, 55, 55, 0.7);
    transition: color 0.5s ease;
    z-index: 999;
}

.advantages-slider-item img {
    opacity: 0;
    user-select: none;
    -webkit-user-drag: none;
    transition: opacity 0.5s ease;
    position: relative;
    z-index: 1;
}

.advantages-slider-item:hover::before {
    opacity: 1;
}

.advantages-slider-item:hover p:first-of-type {
    color: #ffffff;
}

.advantages-slider-item:hover h3 {
    color: #ffffff;
}

.advantages-slider-item:hover p:last-of-type {
    color: rgba(255, 255, 255, 0.7);
}

.advantages-slider-item:hover img {
    opacity: 1;
}

@media (max-width: 1024px) {
    .advantages {
        margin-top: 134px;
    }

    .advantages-container {
        max-width: 330px;
        position: relative;
    }
    .advantages-container::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 999;
    }

    .advantages-container h2 {
        max-width: 280px;
        color: #232323;
        font-family: "Inter Tight";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
    }

    .advantages-swiper {
        height: 1025px !important;
    }

    .swiper-slide {
        margin-bottom: 10px !important;
    }

    .advantages-slider-item {
        min-height: 197px;
        max-height: 197px;
        min-width: 330px;
        max-width: 330px;
        margin-bottom: 20px;
        padding-right: 25px;
    }

    .advantages-slider-item p:first-of-type {
        max-width: 280px;
        left: 25px;
        top: 25px;
        color: #232323;
        text-align: center;
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .advantages-slider-item h3 {
        left: 25px;
        top: 65px;
        max-width: 280px;
        color: #373737;
        font-family: "Inter Tight";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .advantages-slider-item-text{
        position: absolute;
        top: 128px!important;
    }

    .advantages-slider-item p:last-of-type {
        max-width: 280px;
        left: 25px;
        top: 104px;
        color: rgba(55, 55, 55, 0.70);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}