main {
    position: relative;
    max-width: 1370px;
    height: 830px;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 50px;
    background-color: #232323;
    overflow: hidden;
}

main>img {
    position: absolute;
    /* bottom: -266.3px; */
    right: -331.55px;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: mainBgRotate 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

main>h1 {
    position: absolute;
    top: 376px;
    left: 30px;
    font-size: 128px;
    font-weight: 400;
    color: #F9F7F7;
    z-index: 2;
}

main>p {
    position: absolute;
    top: 531px;
    left: 30px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(249, 247, 247, 0.5);
    z-index: 2;
}

main>a {
    position: absolute;
    top: 628px;
    left: 30px;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 35px;
    background-color: #F9F7F7;
    font-size: 18px;
    font-weight: 400;
    color: #232323;
    border-radius: 100px;
}

main>a:hover img {
    transform: translateX(-10px);
}

@keyframes mainBgRotate {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(1deg);
    }

    66% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 1024px) {
    main {
        max-width: 370px;
    }

    main>h1 {
        font-size: 55px;
        top: 163px;
        left: 20px;
    }

    main>p {
        font-size: 16px;
        top: 240px;
        left: 20px;
    }

    main>a {
        font-size: 15px;
        top: 337px;
        left: 20px;
    }
    main>img {
        width: 645.4px;
        height: 638.6px;
        left: -200px;
        top: 255px;
    }
}