footer {
    margin-top: 132px;
    height: 428px;
    background-color: #232323;
}

.footer-container {
    max-width: 1295px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    gap: 211px;
    max-width: 479px;
}

.footer-left>div:first-of-type h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.footer-left>div:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer-left>div:last-of-type h3 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.footer-left>div:last-of-type a {
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
}

.footer-right p {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

.footer-right a {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    display: block;
    max-width: fit-content;
}

@media (max-width: 1024px) {
    footer {
        height: 251px;
        margin-top: 60px;
    }

    .footer-container {
        max-width: 340px;
    }

    .footer-left>div:first-of-type {
        display: none;
    }

    .footer-left>div:last-of-type {
        gap: 10px;
    }

    .footer-left>div:last-of-type h3 {
        color: #FFF;
        font-family: "Inter Tight";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .footer-left>div:last-of-type a {
        color: rgba(255, 255, 255, 0.90);
        font-family: "Inter Tight";
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .footer-right p {
        color: rgba(255, 255, 255, 0.70);
        font-family: "Inter Tight";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .footer-right a {
        color: #FFF;
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}