.call-us {
    margin-top: 140px;
}

.call-us-container {
    position: relative;
    overflow: hidden;
    max-width: 1310px;
    height: 625px;
    background-color: #232323;
    border-radius: 50px;
    margin: 0 auto;
}

.call-us-container h2 {
    position: relative;
    z-index: 2;
    padding-top: 137px;
    text-align: center;
    font-size: 75px;
    font-weight: 600;
    color: #fff;
}

.call-us-container p {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 19px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.call-us-container a {
    position: relative;
    z-index: 2;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 15px 35px;
    background-color: #F9F7F7;
    border-radius: 100px;

    color: #232323;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    max-width: fit-content;
}

/* .call-us-container img{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -31px;
    user-select: none;
    -webkit-user-drag: none;
} */

.call-us-container img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

@media (max-width: 1024px) {
    .call-us {
        margin-top: 60px;
    }

    .call-us-container {
        max-width: 370px;
        height: 484px;
    }

    .call-us-container h2 {
        color: #FFF;
        text-align: center;
        font-family: "Inter Tight";
        font-size: 33px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .call-us-container p {
        color: rgba(255, 255, 255, 0.70);
        text-align: center;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .call-us-container a {
        color: #232323;
        font-family: "Inter Tight";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}